<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <style>
    	.head{
    		background: #21242b;

    	}
    </style>
  </head>
  <body>
  	<div class="head">
  		 <h1 style="color: #60dbfb;"> <i class="fa fa-cog fa-spin fa-2x" ></i><%= title %></h1>
  	</div>
   
    <p>Welcome to <%= title %></p>
    <i class="fa fa-apple"></i>
   
  </body>
</html>
